body {
	
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url("../images/home_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-color: #D9D3C9;
}
.page {
	width: 100%;
	height: 100%;
}

.input-group {
	width:80%;
	margin: 0 auto;
}

/*
.navigation {
	padding: 5%;
}
*/
.container-fluid{
width: 100%;
margin: 0 auto;

}

.navlogo {
	height: 7.5vw;
}

.navbar-nav {
	padding-left: 40vw;
	font-family: 'Montaga', serif;
	font-size: 20px;
}

.nav-item {
	padding-left: 2vw;
}

/* Search Bar Starts Here */

.input-group{
	padding-top: 3vw;
	width: 55vw !important;
}

.btn-primary {
	background-color: #1D281A;
	width: 18vw;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px ;
	position: static;
	font-family: Montaga;
	font-style: normal;
	font-weight: normal;
	font-size: 175%;
	border: none;
}

.form-control {
	height: 70px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	align-content: center;
	padding-left: 2vw;
}
#searchinput {
	width: 90%;
	height: 100%;
	border: none;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 150%;
}
.topBar {
	background-color: #d1c9bf;
	padding-bottom: 100px;
	
}


section {
	padding-top: 200px;
	text-align: center;       
}


/* Search Bar Ends Here */



.homepageText {
	text-align: center
}

h1 {
	font-family: 'Montaga', serif;
	font-size: 56px;
}

#homeParagraph {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
}

.itemOverview {
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #EFEBE7;
}

.card-deck {
	width: 100%;
	justify-content: center;
	text-align: center;

}

.card {
    width: 250px;
    margin: 10px;
    display:inline-block;
    border: none;
    padding-bottom: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.card-title {
    font-size: 16px;
	text-align: left;
	padding-top: 10px;
}

.card-text {
	font-size: 14px;
	text-align: left;
}

.flexContainer { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
}

.outerContainer {
    margin-top: 30px;
    justify-content: center; }


.headerContainer {
		width: 100%;
		height: 292px;
		background-image: url("../images/GirlfriendCollective.png");
		background-size: cover;
		background-repeat: no-repeat;
	}

.brandName {
	padding-top: 50px;
	padding-bottom: 50px;
}

#zaraLogo {
	float: right;
}

#itemImageOne {
	max-height: 600px;
	padding-right:10px;
}

#itemImageTwo {
	max-height: 600px;
}

.itemOverviewText {
	padding-right: 90px;
	padding-top: 20px;
}

.shortOverview {
	padding-top: 50px;
	padding-bottom: 50px;
	
}

#shortBlurb {
	height:150px;
	font-size: 25px;
	font-family: 'Montaga', serif;
}

#brandImpactImg {
	float: right;
	height: 150px;
}


.similarItems {
	padding-top: 50px;
}


.navigationBrands {
	background-color: #d1c9bf;
	padding-right: 5%;
}

#RatingSystem {
	padding-top: 15px;
}

#productName {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 15px;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

#price {
	color: #A44A3F;
	font-weight: bold;
	font-size: 20px;
}

.productFabrics {
	padding-top: 50px;
	float: left;
}

.fabrics {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.productInfo {
	padding-top: 100px;
	float: right;
}

h3 {
	font-family: 'Montaga', serif;
	font-size: 30px;
	padding-bottom: 20px;
}

#similarItems {
	padding-left: 110px;
}
