/* CSS for all Pages */

body {
	
	width: 100%;
	display: inline-block;
	background-image: url("../images/home_background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-color: #D9D3C9;
}
.page {
	width: 100%;
	height: 100%;
}
h1 {
	font-family: 'Montaga', serif;
	font-size: 56px;
	margin-bottom: 30px;
}
p {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
h3 {
	font-family: 'Montaga', serif;
	font-size: 30px;
	padding-bottom: 20px;
}
.footer {
	background-color: #1D281A;
	margin: 0;
	display: grid;
	justify-content: center;
}
.footerlogo {
	justify-content: center;
	display: grid;
}
.footernav {
	display: inline-block;
}
.foot-nav {
	display: inline-flex;
	list-style: none;
	justify-content: center;
	padding: 0;
}
.fnav-item {
	margin: 2vw;
}
.fnav-link:hover {
	color: #fff !important;
	text-decoration: underline;
}
.fnav-link {
	color: #fff;
	font-family: 'Montaga', serif;
	font-size: 20px;
}
.social {
	display: inline-flex;
	justify-content: center;
}
.iconify {
	margin: 3vw;
	display: inline-block;
}
.copyrights {
	color: #fff;
	padding-top: 1vw;
	padding-bottom: 2vw;
	text-align: center;
}
a {
	text-decoration: none;
}
span.iconify,
i.iconify,
iconify-icon {
 display: inline-block;
}
.col-1 {
 flex:auto;
 width:auto;
 display: inline-grid;
 align-content: center;
}
h2 {
	font-family: Montaga !important;
	font-style: normal !important;
	font-weight: normal!important;
	font-size: 56px !important;
	line-height: 103% !important;
}

/* Nav Bar CSS */

.container-fluid{
width: 100%;
margin: 0 auto;

}

.navlogo {
	height: 7.5vw;
}

.navbar-nav {
	padding-left: 40vw;
	font-family: 'Montaga', serif;
	font-size: 25px;
}

.nav-item {
	padding-left: 2vw;
}
.nav-item:hover {
	text-decoration: underline;
}

.nav-link {
	color: #1D281A !important;
}
.topBar {
	background-color: #d1c9bf;
	padding-bottom: 9%;
}

/* Search Bar */
.input-group {
	width:80%;
	margin: 0 auto;
	padding-top: 3vw;
	width: 55vw !important;
}
.btn-primary {
    background-color: #1D281A;
    width: 18vw;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px ;
    position: static;
    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 175%;
    border: none;
    color: #EFEBE7 !important;
}
.btn-primary:hover {
    background-color: #A44A3F;
}
#searchcolor {
	color: #fff;
}
.form-control {
	height: 70px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	align-content: center;
	padding-left: 2vw;
}
#searchinput {
	width: 90%;
	height: 100%;
	border: none;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 150%;
}
.searchBar {
	padding-top: 12vw;
	text-align: center;       
}
.searchBarHome {
	padding-top: 12vw;
	text-align: center;
}

/* Homepage */
.homepageText {
	text-align: center
}
#homeParagraph {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

/* Product Page */
.col-2 {
 flex:0 0 auto;
 width:15%;
}

.col-6 {
 width:50%;
 flex: 0 0 auto;
 padding-left: 5%;
 padding-right: 15%;
}

.row {
 --bs-gutter-x:1.5rem;
 --bs-gutter-y:0;
 display:flex;
 flex-wrap:wrap;
 margin-top:calc(var(--bs-gutter-y) * -1);
 margin-right:calc(var(--bs-gutter-x)/ -2);
 margin-left:calc(var(--bs-gutter-x)/ -2);
 flex: initial;
}

.itemOverview {
	text-align: left;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #EFEBE7;
}
#similarItems {
	padding-left: 17vw;
}
.similarItems {
	padding-top: 50px;
	background-color: #fff;
}
.card-deck {
	width: 100%;
	justify-content: center;
	text-align: center;

}
.card {
    width: 250px;
    margin: 10px;
    display:inline-block;
    border: none;
    padding-bottom: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.card-title {
    font-size: 16px;
	text-align: left;
	padding-top: 10px;
}

.card-text {
	font-size: 14px;
	text-align: left;
}
.flexContainer { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 100%;
}

.outerContainer {
    margin-top: 4vw;
    justify-content: center; 
    padding-bottom: 5vw;
}
.moreitems {
	display: flex;
	justify-content: flex-end;
	padding-right: 12%;
	padding-bottom: 5vw;
}
.brandName {
	padding-top: 5%;
	background-color: #FFF;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3%;
}
.ratingblurb {
	justify-content: flex-start;
	padding-left: 10%;
}
.ratinglogo {
	justify-content: flex-end;
	padding-right: 10%;
}
.col-4 {
 	flex:auto;
 	width:33.3333333333%;
 	display: grid;
}
#itemImageOne {
	width: auto;
	padding-right:2%;
	height: 100%;
	image-rendering: optimizequality;
}
#itemImageTwo {
	height: 100%;
	image-rendering: optimizequality;
	width: auto;
	padding-right: 2%;
}
.itemOverviewText {
	padding-top: 8%;
}
.shortOverview {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
}
#shortBlurb {
	height:150px;
	font-size: 25px;
	font-family: 'Montaga', serif;
}
#brandImpactImg {
	float: right;
	height: 150px;
	image-rendering: optimizequality;
}
.ppaimpact {
	display: flex;
	justify-content: flex-end;
	width: 10%;
}
#RatingSystem {
	padding-top: 2%;
}
#productName {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding-bottom: 15px;
}
#price {
	color: #A44A3F;
	font-weight: bold;
	font-size: 20px;
}
.productFabrics {
	padding-top: 50px;
	float: left;
}
.productimg {
	display: flex;
	justify-content: center;
	image-rendering: optimizequality;
	padding-left: 12%;
}
.fabrics {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.productInfo {
	padding-top: 40%;
	float: right;
}
#productbttn {
	color: #1D281A;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
}
#productbttn:hover {
	text-decoration: underline;
}
.aboutbrand {
	background-color: #fff;
	padding-right: 3%;
}
.col-5 {
 flex:auto;
 width:auto;
}
.infoendcol {
	width: 0%;
}
.learnmore {
	display: grid;
	justify-content: flex-end;
	padding-right: 18%;
	color: #1D281A;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	background-color: white;
	border: none;
}
#more {display: none;}
#myBtn {
	float: right;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	text-align: right;
	border: none;
	background-color: transparent;
}
#myBtn:hover {
	text-decoration: underline;
}
@media only screen(itemOverview) and (min-width: 1662px) {}
@media only screen(itemOverview) and (max-width: 1662px) {
	#itemImageOne {
		max-height: 500px;
	}
	#itemImageTwo {
		max-height: 500px;
	}
}
#moreitemsbttn {
	font-family: Montaga;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 150%;
	color: #A44A3F;
}
#moreitemsbttn:hover {
	text-decoration: underline;
}
.col-9 {
	padding-bottom: 3%;
	padding-right: 2.5%;
}

/*Brands Page */
.headerContainer {
		width: auto;
		height: auto;
}
.navigationBrands {
	background-color: #d1c9bf;
	padding-right: 5%;
}
@media (min-width:992px) {
 .container {
  width:auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
  padding: 0 !important;
  margin: 0 !important;
 }
}
.header {
	padding-bottom: 3vw;
	background-color: #fff;
}
.Content {
	background-color: #fff;
	padding-bottom: 8vw;
}
.shopby {
	list-style: none;
	font-family: Montaga;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 150%;
}
.shop-item {
	color: #1D281A;
}
.shop-item:hover {
	color: #1D281A !important;
	text-decoration: underline;
}
.shopbylist {
	padding-bottom: 2vw;
}
.col-8 {
	padding-right: 20%;
}
.col {
	display: flex;
	width: 100%;
	padding-bottom: 2%;
}
.browse-control {
	width: auto;
	height: auto;
	border-radius: 50px;
}
.brand-row {
	padding-top: 2vw;
	padding-bottom: 6vw;
	padding-left: 10%;
	padding-right: 10%;
}
.filter-brands {
	justify-content: flex-end;
}
.shopbygroup {
	padding-top: 2vw;
	padding-left: 10%;
}
.shopbygroup {
	padding-top: 2vw;
}
.brands {
	padding: 2%;
}
/*
.brands-item {
	margin: 2%;
}
*/

#abelflip {
	background-image: url(../images/abel-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#abelflip:hover {
	background-image: url(../images/abel-hover.svg);
	background-repeat: no-repeat;
}
#bbcoflip {
	background-image: url(../images/bbco-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#bbcoflip:hover {
	background-image: url(../images/bbco-hover.svg);
	background-repeat: no-repeat;
}
#changeflip {
	background-image: url(../images/change-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#changeflip:hover {
	background-image: url(../images/change-hover.svg);
	background-repeat: no-repeat;
}
#dawnflip {
	background-image: url(../images/dawn-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#dawnflip:hover {
	background-image: url(../images/dawn-hover.svg);
	background-repeat: no-repeat;
}
#efflip {
	background-image: url(../images/ef-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;

}
#efflip:hover {
	background-image: url(../images/ef-hover.svg);
	background-repeat: no-repeat;
}
#frankflip {
	background-image: url(../images/frank-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#frankflip:hover {
	background-image: url(../images/frank-hover.svg);
	background-repeat: no-repeat;
}
#harvestflip {
	background-image: url(../images/harvest-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#harvestflip:hover {
	background-image: url(../images/harvest-hover.svg);
	background-repeat: no-repeat;
}
#gaflip {
	background-image: url(../images/ga-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#gaflip:hover {
	background-image: url(../images/ga-hover.svg);
	background-repeat: no-repeat;
}
#ivflip {
	background-image: url(../images/iv-nohover.svg);
	width: 264px;
	height: 296px;
	transition: background-image 1s ease-in-out;
	background-repeat: no-repeat;
}
#ivflip:hover {
	background-image: url(../images/iv-hover.svg);
	background-repeat: no-repeat;
}
.morebrands {
	float: right;
	padding-right: 20%;
	padding-top: 2%;
}
#morebrandsbttn {
	font-family: Montaga;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 150%;
	color: #A44A3F;
}
#morebrandsbttn:hover {
	text-decoration: underline;
}
.space {
	margin: 2% !important;
}